.main-container {
    padding: 20px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
}

.content .left, .content .right {
    flex: 1;
    padding: 10px;
}

.content .right img {
    max-width: 100%;
    height: auto;
}