.container1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.slider h1 {
  font-size: xxx-large;
  color: rgb(229, 155, 180);
  font-weight: 500;
}

.left {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  gap: 1rem;
}

.left h1 {
  font-size: xxx-large;
}

.left h3 {
  font-size: 1.5rem;
}

.right {
  width: 50vw;
}
.right img {
  width: 35rem;
}

.container2 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}

.left2 {
  width: 50vw;
}
.left2 img {
  width: 38rem;
  height: 72vh;
  border-radius: 1rem;
  margin-left: 2rem;
}

.right2 {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  gap: 1rem;
}

.right2 h2 {
  font-size: xxx-large;
}
.right2 h2 span {
  color: palevioletred;
  font-weight: bold;
}

.right2 h3 {
  font-size: 1.5rem;
}

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

/* Media Queries */

@media screen and (max-width: 1380px) {
  .left2 img {
    width: 30vw;
    height: 60vh;
  }
}

@media screen and (max-width: 991px) {
  .left2 img {
    width: 30vw;
    height: 40vh;
  }
  .right2 h2 {
    font-size: xx-large;
  }
}

@media screen and (max-width: 991px) {
  .container2 {
    flex-direction: column;
    gap: 3rem;
    align-items: center;
  }
  .left2 {
    width: 80vw;
  }
  .left2 img {
    width: 70vw;
    height: 50vh;
  }
  .right2 {
    width: 70vw;
  }
}
