.container {
  height: 10vh;
  padding: 2rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(251, 249, 249, 0.781) 0px 4px 8px;
  display: flex;
  justify-content: space-evenly;
}

.container ul {
  cursor: pointer;
  font-weight: 500;
  font-size: 1.1rem;
}

.container ul:hover {
  color: palevioletred;
}

.right {
  display: flex;
  gap: 2rem;
}

/* Media Queries */

@media screen and (max-width: 698px) {
  .left img {
    width: 200px;
  }
  .right {
    gap: 1rem;
  }
}

@media screen and (max-width: 602px) {
  .left img {
    width: 150px;
  }
  .right {
    gap: 0.8rem;
  }
  .right ul {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 499px) {
  .right {
    gap: 0.5rem;
  }
  .left img {
    width: 110px;
  }
  .right ul {
    font-size: 0.7rem;
  }
}
