.container {
  height: 10vh;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left h2 {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
}
