.container {
  height: 10vh;
  padding: 2rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 8px;
}

.container ul {
  cursor: pointer;
  font-weight: 500;
}

.container ul:hover {
  color: palevioletred;
}
