.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.container h2 {
  font-size: xx-large;
}

.container h2 span {
  font-weight: bold;
  color: palevioletred;
}

.icon {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.icon a:hover {
  color: palevioletred !important;
}

.logo img {
  width: 40vw;
}

.container iframe {
  border-radius: 1rem;
}

/* Grow */
.hvGrow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvGrow:hover,
.hvGrow:focus,
.hvGrow:active {
  transform: scale(1.1);
}

@media screen and (max-width: 415px) {
  .container h2 {
    font-size: 1.2rem;
  }
}
