@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
  background-color: aliceblue;
  color: black;
}

html {
  scroll-behavior: smooth !important;
}

.carousel-root {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

.carousel.carousel-slider {
  width: 70vw !important;
  height: 75vh !important;
}

.carousel .slide img {
  width: fit-content !important;
}

.card-title {
  font-size: xx-large !important;
  font-weight: 700 !important;
}

@media screen and (max-width: 758px) {
  .carousel.carousel-slider {
    height: 45vh !important;
  }
}

/* Media Queries

@media screen and (max-width: 1412px) {
  ._container2_ggkoq_95 {
    min-height: 100vh !important;
  }
  ._left2_ggkoq_113 img,
  ._left2_330ht_57 img {
    width: 30rem !important;
    height: 59vh !important;
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 1081px) {
  ._container2_ggkoq_95,
  ._container2_330ht_48 {
    gap: 6rem !important;
    flex-direction: column !important;
    margin-top: 4rem !important;
  }

  ._right2_ggkoq_133 h2,
  ._right2_330ht_67 h2 {
    font-size: 2.2rem !important;
  }

  ._container_s1i37_1,
  ._container_4nt0a_1 {
    margin-top: 7rem !important;
  }
  .carousel.carousel-slider {
    height: 45vh !important;
  }
}

@media screen and (max-width: 745px) {
  ._container_32gdz_1 ul,
  ._container_q5y48_1 ul {
    font-size: 0.9rem !important;
  }
}

@media screen and (max-width: 681px) {
  ._container_32gdz_1 ul,
  ._container_q5y48_1 ul {
    font-size: 0.7rem !important;
  }
}

@media screen and (max-width: 636px) {
  ._container_32gdz_1 img,
  ._container_q5y48_1 img {
    width: 200px !important;
  }
  ._email_fvyo6_19 label,
  ._email_fvyo6_19 input,
  ._phone_fvyo6_26 label,
  ._phone_fvyo6_26 input {
    font-size: 1rem !important;
  }
  ._container_fvyo6_1 form {
    width: 70vw !important;
  }
}

@media screen and (max-width: 589px) {
  ._container1_1j0w6_1,
  ._container1_330ht_1 {
    flex-direction: column !important;
  }
  ._container2_1j0w6_67,
  ._container2_330ht_48,
  ._container2_88fh2_48 {
    flex-direction: column !important;
  }
  ._container_32gdz_1 img,
  ._container_q5y48_1 img {
    width: 150px !important;
  }

  ._container_32gdz_1 {
    gap: 1rem !important;
  }
}

@media screen and (max-width: 523px) {
  ._container_32gdz_1 img {
    width: 115px !important;
  }
  ._right_q5y48_23 {
    gap: 1rem !important;
  }
  ._left2_330ht_57 {
    width: 70vw;
  }
  ._right2_330ht_67 {
    width: 70vw;
  }
}

@media screen and (max-width: 505px) {
  ._left_ntici_19 h2 {
    font-size: 0.8rem !important;
    gap: 0.2rem !important;
  }
  .carousel.carousel-slider {
    height: 37vh !important;
  }
  ._left2_330ht_57 img {
    height: 40vh !important;
  }
}

@media screen and (max-width: 457px) {
  ._container_32gdz_1 img,
  ._container_q5y48_1 img {
    width: 180px !important;
  }
}

@media screen and (max-width: 437px) {
  ._left_1j0w6_19 h1 {
    font-size: 1rem !important;
    font-weight: 600 !important;
  }
  ._right2_1j0w6_99 h2 {
    font-size: xx-large !important;
    font-weight: 600 !important;
  }
  ._container_exobr_1 h2 {
    font-size: larger !important;
  }
  ._left2_ggkoq_113 img,
  ._left2_330ht_57 img {
    height: 40vh !important;
    margin-left: 0 !important;
  }

  ._container_q5y48_1 img {
    width: 115px !important;
  }
  ._container_32gdz_1 ul,
  ._container_q5y48_1 ul {
    font-size: 0.6rem !important;
  }
  ._email_fvyo6_19 label,
  ._email_fvyo6_19 input,
  ._phone_fvyo6_26 label,
  ._phone_fvyo6_26 input {
    font-size: 0.7rem !important;
  }
} */
