.container {
  height: 40vh;
  padding: 2rem;
  border: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
}

.container p {
  font-size: 2rem;
}

@media screen and (max-width: 400px) {
  .container p {
    font-size: 1.3rem;
  }
}
